<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keells Online</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.3-web/css/all.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body class="bg-image">
    <div id='main' class="col">
        <div id="one" class="col half">
            <div class="text-content">
                <div id="logo">
                    <img src="../static/logo.png" alt="KEELLS">
                </div>
                <div id='welcome' class="col">
                    <span class="msg">Hello,</span>
                    <span class="msg">Log into your</span>
                    <span class="msg">account for a</span>
                    <span class="msg">quick and easy</span>
                    <span class="msg">shopping</span>
                    <span class="msg">experience</span>
                    <span class="msg" id="wish">Happy shopping!</span>
                </div>
            </div>
        </div>
        <div id="two" class="col half">
            <div class='leaf'>
                <div class="row">
                    <div class="icon">
                        <div class="circle">
                            <div class="icon-img">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div id="login" class="col box">
                        <span class="question">Already registered?</span>
                        <span class="answer">Login here</span>
                    </div>
                </div>
            </div>
            <div class='leaf'>
                <div class="row">
                    <div class="icon">
                        <div class="circle">
                            <div class="icon-img">
                                <i class="fas fa-unlock-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div id="register" class="col box">
                        <span class="question">New to Keells?</span>
                        <span class="answer">Register here</span>
                    </div>
                </div>
            </div>
            <div class='leaf'>
                <div class="row">
                    <div class="icon">
                        <div class="circle">
                            <div class="icon-img">
                                <i class="fas fa-thumbtack"></i>
                            </div>
                        </div>
                    </div>
                    <div id="track" class="col box">
                        <span class="question">Track your order?</span>
                        <span class="answer">Click here</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>